* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215;
  color: #EAEAEa;
  font-family: 'Roboto', sans-serif;
}

nav {
 padding: 64px;  /* espaçamento interno */
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px; /* espaçamento*/
}

.memory small {
  color: #BEBEBF;
  font-size: 12px;
}

.memory h1 {
  font-size: 32px;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover; /* para a imagem continuar com o tamanho quando a tela é aumentada, apenas dá um zoom */
  border-radius: 8px; /* cantos arredondados */
}

.memory p {
  font-size: 18px;
  color: #bebebf;
  line-height: 28px; /* espaçamento de uma linha para outra */
}